.social-media-container {
  height: 200px;
  width: 100%;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid rgb(174, 251, 253);
  border-right: none;
  border-left: none;
  background-color: rgba(204, 204, 204, 0.1);
}
.social-media-container ul {
  display: flex;
}
.social-media-container li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s ease;
}

.social-media-container li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #de5400;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: 0.5s ease;
}

.social-media-container li:before,
.social-media-container li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
}

#facebook:hover {
  color: #4267b2;
}
#facebook:before {
  background: #4267b2;
}
#facebook:hover {
  box-shadow: 0 0 15px #4267b2 !important;
  text-shadow: 0 0 15px #4267b2 !important;
}
#linkedin:hover {
  color: #2a6cbb;
}
#linkedin:before {
  background: #2a6cbb;
}
#linkedin:hover {
  box-shadow: 0 0 15px #2a6cbb !important;
  text-shadow: 0 0 15px #2a6cbb !important;
}
#instagram:hover {
  color: #e23670;
}
#instagram:before {
  background: #e23670;
}
#instagram:hover {
  box-shadow: 0 0 15px #e23670 !important;
  text-shadow: 0 0 15px #e23670 !important;
}
#twitter:hover {
  color: #26a4f2;
}
#twitter:before {
  background: #26a4f2;
}
#twitter:hover {
  box-shadow: 0 0 15px #26a4f2 !important;
  text-shadow: 0 0 15px #26a4f2 !important;
}
#youtube:hover {
  color: rgb(241, 7, 7);
}
#youtube:before {
  background: rgb(241, 7, 7);
}
#youtube:hover {
  box-shadow: 0 0 15px rgb(241, 7, 7) !important;
  text-shadow: 0 0 15px rgb(241, 7, 7) !important;
}
